mixin searchResultCard(room)
    div.searchItem
        img.roomImg(src=room.image)
        div=room.type+'.'+room.address
        div.roomName=room.name
        div.roomBooking
            div
                div.nightPrice='₩'+(room.price/room.nights).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+"/"+'1박'
                div.totalPrice='총 요금: ₩'+room.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            button.bookingBtn 예약하기
                input(type='hidden', value=room)